<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <h1>School System</h1>
    <ul>
        <li><a href="{% url 'teacher_list' %}">O'qituvchilar ro'yxati</a></li>
        <li><a href="#">Talabalar</a></li>
        <li><a href="#">Kurslar</a></li>
        <li><a href="#">Ro‘yxatga olish (Enrollment)</a></li>
    </ul>
    <h2>Xush kelibsiz, {{ user.username }}</h2>
    <p><a href="{% url 'logout' %}">Chiqish</a></p>
</body>
</html>
